#toptext {
    text-align: center;
}

#subtoptext {
    text-align: center;
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar-light {
    background-color: #dce0d9;
}

.bg-light {
    background-color: #fbf6ef !important;
}

.border-top {
    background-color: #ead7c3;
}

.card-description {
    text-align: left;
}

.right-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: xx-large;
}

#taskDate,
#taskCity,
#taskLoc,
#details {
    text-align: left;
}

/* .design {
    background: #e0e0e0;
    box-shadow: -15px 15px 30px #c1c1c1,
        15px -15px 30px #ffffff;
} */

/* .list-group {
    border-radius: 50px;
} */

/* #taskCardGroup {
    display: flex;
    flex-flow: column wrap;
    flex: 200px;
} */