#toptext {
    text-align: center;
}

#subtoptext {
    text-align: center;
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* for the colour of the page */
.navbar-light {
    background-color: #d9d9d9;
}

.bg-light {
    background-color: #14213d !important;
}

.border-top {
    background-color: #e9c46a;
}


/* for the description on each card holding the tasks */
.card-description {
    text-align: left;
    margin-top: 7px;
}

/* for the date on the card tasks */
.card-date {
    margin-left: 7px;
}

/* to keep the + on the bottom right of each task card */
.right-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: xx-large;
}

/* to align the task details on the left */
#taskDate,
#taskCity,
#taskLoc,
#details {
    text-align: left;
}

/* for the design of the cards */
.design {
    background: #e0e0e0;
    box-shadow: -15px 15px 30px #c1c1c1,
        15px -15px 30px #ffffff;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

/* #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

#threads {
    padding-left: 5%;
    text-decoration: none;
}

#newThreads {
    padding-left: 5%;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #14213d;
}

#inputTitle {
    width: 25%;
}

#inputContent {
    width: 25%;
}

button{
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #14213d;
    color: white;
}